<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Obesity, characterized by an excessive accumulation of body fat, 
          has become a pervasive health crisis affecting millions worldwide. 
          Rooted in a complex interplay of genetic, environmental, and behavioral factors, 
          obesity is fueled by unhealthy dietary habits, sedentary lifestyles, and societal norms 
          that promote overconsumption of calorie-dense foods. The consequences of obesity extend 
          beyond physical health, encompassing increased risks of chronic diseases like diabetes and cardiovascular conditions, 
          as well as psychological challenges and economic burdens.</p>
      </div>
      <div class="col-lg-4">
        <p>Addressing this epidemic requires a holistic approach, 
          including education, policy changes to promote healthier environments, and individual behavior modifications. 
          By working together to promote healthier lifestyles and combat obesogenic environments, 
          we can strive towards a future where obesity is no longer a global threat to health and well-being. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://rahmanlaboratory.github.io/rahmanlab-files//files/Obesity_Research_Projects_in_details.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download the Full Project.
        </a>
      </div>
    </div>
  </div>
</section>
